resources/wsdl/calculatorServiceWithAddressing.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.addressing.soap.ws.jax.koitoer.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.addressing.soap.ws.jax.koitoer.com/" name="CalculatorServiceImplService">
<wsp:Policy wsu:Id="CalculatorServiceImplPortBinding_WSAM_Addressing_Policy">
<wsam:Addressing>
<wsp:Policy/>
</wsam:Addressing>
</wsp:Policy>
<types>
<xs:schema xmlns:tns="http://service.addressing.soap.ws.jax.koitoer.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.addressing.soap.ws.jax.koitoer.com/">
<xs:element name="add" type="tns:add"/>
<xs:element name="addResponse" type="tns:addResponse"/>
<xs:complexType name="add">
<xs:sequence>
<xs:element name="param1" type="xs:int"/>
<xs:element name="param2" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<portType name="CalculatorServiceImpl">
<operation name="add">
<input wsaw:Action="http://addnumbers.org/input" wsam:Action="http://addnumbers.org/input" message="tns:add"/>
<output wsaw:Action="http://addnumbers.org/output" wsam:Action="http://addnumbers.org/output" message="tns:addResponse"/>
</operation>
</portType>
<binding name="CalculatorServiceImplPortBinding" type="tns:CalculatorServiceImpl">
<wsaw:UsingAddressing/>
<wsp:PolicyReference URI="#CalculatorServiceImplPortBinding_WSAM_Addressing_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorServiceImplService">
<port name="CalculatorServiceImplPort" binding="tns:CalculatorServiceImplPortBinding">
<soap:address location="http://localhost:9999/calculator"/>
</port>
</service>
</definitions>